<header class="row">
    <img src="{{ asset('images/logo.png') }}" alt="Logo {{ site_name }}" title="Logo {{ site_name }}" class="col-12">
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <button class="navbar-toggler col-2 offset-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav col-10 offset-1">
                <li class="nav-item mx-auto">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}">
                        <img src="{{ asset('images/nav-button-home.png') }}" alt="Bouton de navigation vers l'accueil">
                    </a>
                </li>
                <div class="separation-line col-8 offset-2"></div>
                <li class="nav-item mx-auto">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}">
                        <img src="{{ asset('images/nav-button-home.png') }}" alt="Bouton de navigation vers l'accueil">
                    </a>
                </li>
                <div class="separation-line col-8 offset-2"></div>
                <li class="nav-item mx-auto">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}">
                        <img src="{{ asset('images/nav-button-home.png') }}" alt="Bouton de navigation vers l'accueil">
                    </a>
                </li>
                <div class="separation-line col-8 offset-2"></div>
                <li class="nav-item mx-auto">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}">
                        <img src="{{ asset('images/nav-button-home.png') }}" alt="Bouton de navigation vers l'accueil">
                    </a>
                </li>
                <div class="separation-line col-8 offset-2"></div>
                <li class="nav-item mx-auto">
                    <a class="nav-link active" aria-current="page" href="{{ path('main_home') }}">
                        <img src="{{ asset('images/nav-button-home.png') }}" alt="Bouton de navigation vers l'accueil">
                    </a>
                </li>
                <li class="nav-item mx-auto">
                    <a class="nav-link active" aria-current="page" href="{{ path('admin_logout') }}">
                        <img src="{{ asset('images/nav-button-home.png') }}" alt="Bouton de navigation vers l'accueil">
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>