{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}{% endblock %}
{% block cssIncludes %}
    <link rel="stylesheet" href="{{ asset('libraries/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css') }}">
    
{% endblock %}

{% block body %}
{#    Carrousel en banière #}
    <div class="owl-carousel owl-theme mt-5 mb-3">
        {% for carrouselImage in carrouselImages  %}
{#            todo liipimagine pour normer les photos#}
            <a href="{{ (carrouselImage.link != null) ? carrouselImage.link : asset('images/carrousel_images/' ~ carrouselImage.image ) }}" {{ (carrouselImage.link != null) ? "" : 'target="_blank"' }} >
                <img src="{{ asset('images/carrousel_images/' ~ carrouselImage.image) }}" alt="Image d'accueil" class="carrousel-img-home">
            </a>
        {% endfor %}
    </div>

{#    Texte de présentation #}
    <div class="row">
        <div class="presentation-text col-10 offset-1">
            <p class="my-2">{{ display_dynamic_content('presentation-text') }}</p>
        </div>
    </div>
    
{#    Produits à la une #}
    {% if topProducts %}
        <h2 class="text-light text-center mt-4">La sélection du chef</h2>
        <div class="row top-articles">
            <ul class="d-flex flex-column align-items-center justify-content-center m-0 p-0 flex-md-row justify-content-md-around">
                {% for topProduct in topProducts %}
                    <li class="col-8 offset-2 mx-0 my-3 text-center col-md-5 offset-md-1 col-lg-3">
                        <a href="{{ path('products_view', {'id': topProduct.id, 'slug': topProduct.slug}) }}" class="hoverwrap">
                            <img src="{{ asset('images/product_images/' ~ topProduct.coverImage) }}" alt="Image de couverture du produit à la une {{ topProduct.name }}">
                            <h4 class="hovercap">{{ topProduct.name }}</h4>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
   

{#  Le dernier article du blog  #}
    {% if articles %}
        <h2 class="text-light text-center mt-4">Dernier article</h2>
        {% for article in articles %}
            <div class="top-articles">
                {% if article.image != null %}
                    <a href="{{ path('blog_publication_view', {'id': article.id, 'slug': article.slug
                    }) }}" class="link-style">
                        <img src="{{ asset('images/article_images/' ~ article.image) }}" alt="Image de couverture de l'article {{ article.title }}" class="article-image-thumbnail col-10 offset-1 img-fluid col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                    </a>
                {% endif %}
            
                <div class="mb-2 text-light text-center">
                    <a class="link-style title" href="{{ path ('blog_publication_view', {'id': article.id, 'slug': article.slug }) }}">{{ article.title }}</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
   
    
    {% endblock %}

{% block jsIncludes %}
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous">
    </script>
    <script src="{{ asset('libraries/OwlCarousel2-2.3.4/dist/owl.carousel.min.js') }}"></script>
    <script src="{{ asset('js/owl-carrousel-custom-settings.js') }}"></script>
    
{% endblock %}

