{% extends 'base.html.twig' %}

{% block title %}Liste des images dans le carrousel d'accueil{% endblock %}
{% block body %}
    {# Lien pour revenir à l'accueil admin #}
    <div class="row">
        <div class="col-md-3  mt-2 ms-2">
            <a href="{{ path('admin_panel') }}" class="btn btn-danger text-decoration-none text-light">Retour</a>
        </div>
    </div>
    
    <div class=" col-12 col-md-10 offset-md-1">
        
        <div class="row">
            <h1 class="col-12 text-center text-light my-5">Liste des images dans le carrousel d'accueil</h1>
        </div>
        
        <div class="row">
            
            <div class="col-12 ">
                
                
                {% if carrouselImages is not empty %}
                    
                    {# Affichage nb d'images #}
                    <div class="row">
                        <p class="col-12 text-center text-light">Nombre total d'images
                            : {{ carrouselImages.getTotalItemCount() }}</p>
                    </div>
                    
                    {# Tableau #}
                    <div class="row pt-5">
                        
                        <div class="col-12 table-responsive">
                            
                            <table class="align-middle table table-sm table-striped table-hover">
                                <thead>
                                    <tr>
                                       
                                        <th class="text-center" scope="col">{{ knp_pagination_sortable(carrouselImages, 'Article relié', 'ci.link') }}</th>
                                        <th class="text-center" scope="col">{{ knp_pagination_sortable(carrouselImages, 'Image', 'ci.image') }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                
                                {% for carrouselImage in carrouselImages %}
                                    <tr>
                                        <td class="text-light">{{ carrouselImage.link }}</td>
                                        <td>
                                            <img src="{{ asset('images/carrousel_images/'~ carrouselImage.image) }}" alt="Image du crrousel d'accueil" class="img-fluid img-thumbnail">
                                        </td>
                                        <td>
                                            <div>
                                                
                                                <a class="text-decoration-none text-warning me-3 d-md-none" href="{{ path('admin_edit_carrousel_image', {'id': carrouselImage.id}) }}"> <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a class="text-decoration-none text-warning me-3 d-none d-md-block" href="{{ path('admin_edit_carrousel_image', {'id': carrouselImage.id}) }}"> <i class="fa-solid fa-pen-to-square"></i>
                                                    Modifier
                                                </a>
                                            
                                            </div>
                                            <div class="mt-3">
                                                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette image du carrousel d\'accueil ?')"
                                                href="{{ path('admin_delete_carrousel_image', {'id': carrouselImage.id, 'csrf_token' : csrf_token('admin_delete_carrousel_image' ~ carrouselImage.id)}) }}"
                                                class=" text-decoration-none text-danger d-md-none">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette image du carrousel d\'accueil ?')"
                                                        href="{{ path('admin_delete_carrousel_image', {'id': carrouselImage.id, 'csrf_token' : csrf_token('admin_delete_carrousel_image' ~ carrouselImage.id)}) }}"
                                                        class=" text-decoration-none text-danger d-none d-md-block">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                    Supprimer
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                
                                {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                    
                    </div>
                    
                    {# Pagination #}
                    <div class="row">
                        <div class="col-12 my-3 text-center">
                            <div class="d-inline-block">
                                {{ knp_pagination_render(carrouselImages) }}
                            </div>
                        </div>
                    </div>
                
                {% else %}
                    
                    <div class="alert alert-warning w-100 text-center mb-5">Aucune image à afficher</div>
                
                {% endif %}
            
            </div>
        
        </div>
        <div class="row">
            <a href="{{ path('admin_add_carrousel_image') }}" class="btn btn-primary">Ajouter une image</a>
        </div>
    </div>
{% endblock %}



