{% extends 'base.html.twig' %}

{% block title %}Bienvenue Administratrice Lulu !{% endblock %}

{% block body %}
<div class="row">
    <h1 class="col-12 text-center my-5 text-light ">Menu d'administration</h1>
</div>

<div class="row">
    <h2 class="col-12 text-center mt-3 text-light">Le site de Twist Around the Rock, c'est actuellement :</h2>
</div>
<div class="row d-md-flex flex-md-row justify-content-md-center align-items-md-center">
    <div class="col-12 col-md-8 col-lg-6">
        <div class="row separation-row"></div>
        <div class="row d-flex flex-column justify-content-center align-items-center flex-md-row">
                <a href="{{ path('admin_carrousel_images_list') }}" class="admin-button mt-3 btn p-3">{{ carrouselImages.getTotalItemCount() }} images qui défilent en page d'accueil</a>
                <a href="{{ path('admin_products_list') }}" class="admin-button mt-3 btn p-3">{{ products.getTotalItemCount() }} produits référencés</a>
                <a href="{{ path('admin_blog_articles_list') }}" class="admin-button mt-3 btn p-3">{{ articles.getTotalItemCount() }} articles de blog</a>
          
        </div>
    </div>
</div>
<div class="row d-md-flex flex-md-row justify-content-md-center align-items-md-center mt-md-3">

        <a href="#" class="col-12 col-md-8 col-lg-6 mt-3 mb-3 mb-md-0 btn btn-danger p-3">Afficher toutes les données du site</a>

{% endblock %}
