{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}
{% block body %}
   
    
    <div class=" col-12 col-md-10 offset-md-1">
        
        <div class="row">
            <h1 class="col-12 text-center text-light my-5">Liste des produits</h1>
        </div>
        {# Lien pour revenir à l'accueil admin #}
        <div class="row">
            <div class="col-md-3  mt-2 ms-2">
                <a href="{{ path('admin_panel') }}" class="btn btn-danger text-decoration-none text-light">Retour</a>
            </div>
        </div>
        
        <div class="row">
            
            <div class="col-12 ">
                
                
                {% if products is not empty %}
                    
                    {# Affichage nb d'articles #}
                    <div class="row">
                        <p class="col-12 text-center text-light">Nombre total de produits
                            : {{ products.getTotalItemCount() }}</p>
                    </div>
                    
                    {# Tableau #}
                    <div class="row pt-5">
                        
                        <div class="col-12 table-responsive">
                            
                            <table class="align-middle table table-sm table-striped table-hover">
                                <thead>
                                <tr>
                                    <th class="text-center" scope="col">{{ knp_pagination_sortable(products, 'Nom ', 'p.name') }}</th>
                                    <th class="text-center text-light" scope="col">Contenu</th>
                                    <th class="text-center text-light" scope="col">Couverture</th>
                                    <th class="text-center" scope="col">{{ knp_pagination_sortable(products, 'Disponibilité', 'p.available') }}</th>
                                    <th class="text-center" scope="col">{{ knp_pagination_sortable(products, 'Date de création', 'p.creationDate') }}</th>
                                    <th class="text-center text-light" scope="col">Catégorie</th>
                                    <th class="text-center text-light" scope="col">Couleur</th>
                                    <th class="text-center text-light" scope="col">Pierres</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                {% for product in products %}
                                    <tr>
                                        <td class="text-light text-center">
                                            <a href="{{ path('products_view', {'id': product.id, 'slug': product.slug}) }}">{{ product.name }}
                                            </a>
                                        </td>
                                        <td class="text-light text-center">{{ product.content|striptags|excerpt(20) }}</td>
                                        
                                        
                                        <td>
                                            {% if product.coverImage != null %}
                                                <img src="{{ asset('images/product_images/'~ product.coverImage) }}" alt="Image illustrant le produit {{ product.name }}" class="img-fluid w-25">
                                            {% else %}
                                                <p class="text-light text-center">Pas d'image de couverture</p>
                                            {% endif %}
                                        </td>
                                        <td class="text-light text-center">
                                            {% if product.available == 1 %}
                                                Disponible
                                            {% else %}
                                                Indisponible
                                            {% endif %}
                                        </td>
                                        <td class="text-light text-center">{{ product.creationDate|date('d/m/Y') }}</td>
                                        <td class="text-light text-center">{{ product.category|capitalize }}</td>
                                        <td class="text-light text-center">{{ product.color|capitalize }}</td>
                                        <td class="text-light text-center">{{ product.stone|capitalize }}</td>
                                        
                                        <td>
                                            <div>
                                                
                                                <a class="text-decoration-none text-warning me-3 d-md-none" href="{{ path('products_edit', {'id': product.id}) }}"> <i class="fa-solid fa-pen-to-square"></i>
                                                </a>
                                                <a class="text-decoration-none text-warning me-3 d-none d-md-block" href="{{ path('products_edit', {'id': product.id}) }}"> <i class="fa-solid fa-pen-to-square"></i>
                                                    Modifier
                                                </a>
                                            
                                            </div>
                                            <div class="mt-3">
                                                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?')"
                                                        href="{{ path('products_delete', {'id': product.id, 'csrf_token' : csrf_token('product_delete_' ~ product.id)}) }}"
                                                        class=" text-decoration-none text-danger d-md-none">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                                <a onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce produit?')"
                                                        href="{{ path('products_delete', {'id': product.id, 'csrf_token' : csrf_token('product_delete_' ~ product.id)}) }}"
                                                        class=" text-decoration-none text-danger d-none d-md-block">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                    Supprimer
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                
                                {% endfor %}
                                </tbody>
                            </table>
                        
                        </div>
                    
                    </div>
                    
                    {# Pagination #}
                    <div class="row">
                        <div class="col-12 my-3 text-center">
                            <div class="d-inline-block">
                                {{ knp_pagination_render(products) }}
                            </div>
                        </div>
                    </div>
                
                {% else %}
                    
                    <div class="alert alert-warning w-100 text-center mb-5">Aucun produit à afficher</div>
                
                {% endif %}
            
            </div>
        
        </div>
        <div class="row d-flex flex-column justify-content-between mb-2">
                <div class="col-lg-6 offset-lg-3 btn btn-success mb-2 filter-data category">Ajouter une catégorie </div>
            <div class="row d-flex flex-row justify-content-between filter-form-options category">
                <div class="col-9">
                    {{ form_start(categoryForm) }}
                    {{ form_row(categoryForm.name) }}
                </div>
                <div class="col-1">
                    {{ form_row(categoryForm.save) }}
                    {{ form_end(categoryForm) }}
                </div>
                <div class="col-1 mx-2 cancel">
                    <button class="btn btn-danger px-3">X</button>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 btn btn-success mb-2 filter-data color">Ajouter une couleur </div>
            <div class="row d-flex flex-row justify-content-between filter-form-options color">
                <div class="col-9 ">
                    {{ form_start(colorForm) }}
                    {{ form_row(colorForm.name) }}
                </div>
                <div class="col-1 ">
                    {{ form_row(colorForm.save) }}
                    {{ form_end(colorForm) }}
                </div>
                <div class="col-1 mx-2 cancel">
                    <button class="btn btn-danger px-3">X</button>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-3 btn btn-success mb-2 filter-data stone">Ajouter une pierre </div>
            <div class="row d-flex flex-row justify-content-between filter-form-options stone">
                <div class="col-9 ">
                    {{ form_start(stoneForm) }}
                    {{ form_row(stoneForm.name) }}
                </div>
                <div class="col-1">
                    {{ form_row(stoneForm.save) }}
                    {{ form_end(stoneForm) }}
                </div>
                <div class="col-1 mx-2 cancel">
                    <button class="btn btn-danger px-3">X</button>
                </div>
            </div>
            <a href="#" class="col-12 col-lg-6 offset-lg-3 btn btn-danger mb-2">Supprimer des filtres</a>
        </div>
        <div class="row">
            <a href="{{ path('products_new_product') }}" class="btn btn-primary col-lg-5">Créer un produit</a>
            <a href="{{ path('admin_panel') }}" class="btn btn-danger text-light mt-1 col-lg-5 offset-lg-2">Retour</a>
        </div>
    </div>
{% endblock %}



