{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    
    <div class="row publication_list_title">
        <h1 class="col-12 text-center my-5 text-light">Liste des produits</h1>
    </div>
    <div class="js-filter">
        
       
        
        <div class="row d-flex flex-column flex-md-row mb-2 text-light">
            {{ form_start(form, { attr: {class: 'js-filter-form'}}) }}
            {{ form_row(form.q) }}
            <button class="btn btn-primary col-12 mb-2" type="submit">Filtrer</button>
            <div class="row mx-1">
               
                    <div class="btn btn-light filter-button col-6">Filtrer les produits</div>
                    {{ include('product/product_sorting.html.twig') }}
                
                <div class="filter-form d-none">
                    <div class="col-6 d-flex flex-row  align-items-center category-dropdown">
                        {{ form_label(form.categories) }}
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                        {{ form_widget(form.categories) }}
                    
    
                    <div class="col-6 d-flex flex-row align-items-center color-dropdown">
                        {{ form_label(form.colors) }}
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    {{ form_widget(form.colors) }}
    
                    <div class="col-6 d-flex flex-row align-items-center stone-dropdown">
                        {{ form_label(form.stones) }}
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    {{ form_widget(form.stones) }}
                    
                    <div class="mt-3">{{ form_row(form.available) }}</div>
                    
                    {{ form_row(form.min) }}
                    {{ form_row(form.max) }}
                    <div id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>
                </div>
            </div>
            
            {{ form_end(form) }}
        </div>
        
        
        
        
        <div class="row">
            
            <div class="col-12 col-md-8 mx-auto">
    
                
                {{ include('product/product_card.html.twig') }}
                
                {{ include('product/product_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}


